font-size-small = 12px
body-max-width = 1000px

color-blue = #1a73e8
color-blue-dark-1 = color-blue - 10%
color-blue-dark-2 = color-blue - 20%
color-blue-light-1 = color-blue + 10%
color-blue-light-2 = color-blue + 20%

color-red = red

color-white = #fff