form
.form
  &__footer
    text-align right
    padding 20px 0 20px 20px

    & > *
      margin-left 5px

  input
    width 100%

  label
    margin-bottom 15px
    display block

    span
      font-size font-size-small
      font-weight 500
      display block
    p
      font-size font-size-small
      font-weight 300
      padding 0
      margin 0

      strong
        font-weight 400
    input
      margin-top 5px
  fieldset
    margin 0
    padding 0
    border 0