table
  width 100%
  clear both
  border-collapse separate
  border-spacing 0
  th
    font-weight 500
    font-size font-size-small
    letter-spacing .02em
    color rgba(0,0,0,.654);
    padding 6px 0 5px
    vertical-align top
    text-align left
    border-bottom 1px solid rgba(0,0,0,.16)
  tr
    &.selected
      background-color rgba(59,120,231,.08)!important
    &.hide
      display none

  td
    font-size font-size-small
    padding: 7px 0 8px 24px
    border-bottom: 1px solid rgba(0,0,0,.08)

  th
  td
    padding-left 24px

    &.center
      text-align center
      padding-left 12px

    &:first-child
      padding-left 6px

    &:last-child
      text-align right

  a
    text-decoration none
    padding-bottom 1px
    color rgba(0,0,0,.987)
    font-weight normal

    &:focus
    &:hover
      color #3367d6
      background-image linear-gradient(transparent 94%,#3b78e7 94%)

  button
    display inline-block
    margin-right 3px
    margin-bottom 3px