<?xml version="1.0" encoding="utf-8"?>
<configuration scan="true" scanPeriod="1 minute">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="bts" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
