@import "../shared"

#app
  padding 8px

.search

  & .q
    margin-left 10px
    flex auto

  & .field-set
    display flex
    justify-content center

  & button[type=submit]
    margin-left 10px
    padding-right 20px

.search-result
  margin-top 20px
  width 100%
  a
    text-decoration none
    color black
    &:hover
      color #171161
  .sl
    font-size 12px
    color gray
  .link
    float right
  .tags
    & > *
      display inline-block
      margin-right 3px
      margin-top 3px
  .search-item
    margin-bottom 4px
    padding 3px
  .loading
    text-align center
    margin-top 20px
.search-result .tags .tag,
.search-result .tags .tag a
  padding 0 1px
  font-size 12px
  color gray
  cursor pointer
.search-item
  &:hover
    background-color rgba(0, 0, 0, 0.04)
  .size
    width 60px
    display inline-block
    text-align right
.search-footer
  text-align center
  margin-top 20px
  & > *
    display inline-block
  .load-count
    float right
    font-size 10px
    color silver

.content
  display flex
.aside
  flex 1 1 auto
  max-width 1000px
.right-aside
  padding-left 30px
  flex 0 0 auto
  @media screen and (max-width: 1300px)
    display none

.help
  &__title
    height 38px
    font-weight 300
  p
    margin-top 0
    margin-bottom 5px
    line-height 15px
    font-size 70%
